*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400px;
    
    
}
a{
    color: indianred;
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header{
    background-image: url("../http/img/header-fon.jpg");    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 10px 38px;
    margin-bottom: 30px;
   
}
.header__subtitle{
    font-family: 'Oswald', sans-serif;
    font-size:  20px;
    line-height: 25px;
    font-weight: 400px;
}
.header__subtitle span{
    display: block;
    font-size: 20px;
    line-height: 30px;
}
.header__title span{ 
    font-weight: 600px;    
    line-height: 60px;
    font-size: 60px;
    display: block;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 100px;    
}
.service{
    margin-bottom: 150px;
}
.service__inner{ /*Разделение на две стороны*/
    display: flex;
}
.service__content{
    flex-basis: 510px;
    margin-right: 90px;
}
.service__box{
    margin-bottom: 50px;

}
.service__box-title{
    font-weight: 700px;
    font-size: 18px;
    line-height:34px;
    color: gray;    
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: justify;

}   

.service__img{
    object-fit: cover;
    transition: 1s;
    
}
.service__img:hover{
    transform: scale(1.05);
}

.menu{
    display: flex;
    justify-content: center;
    

}
.page__book{
    padding: 0 10px;
}

.page__book:hover{
    background-color: rgb(192, 195, 201);
    list-style-position: inside;
    text-indent: 5px;
    transition: all .4s;
}
.footer-menu{
    padding:3em 0;
    box-shadow: 0 0px 10px #ccc;
    background-color: #6a67ce;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.social__item{
    padding:0 15px;
}
.social__link{
    padding: 0 20px;
}
p.copy-right{
    font-size:1em;
    text-align: center;
}
p.copy-right a{
    color:#D46E00;
    text-decoration:none;
    
}
p.copy-right a:hover{
    color:#25221C;
}





























































































 



  







